body {
    font-family: tahoma;
    margin: 0;
    padding: 0;
     
    font-size: 18px;
    background-color: rgb(103, 77, 128);
    color: white;
    
}

 
h1 {
    text-align: center;
}

label {
    display: block;
    
    
    
}

input {
    display: block;
    margin: 5px;
    
}

select {
    display: block;
    margin: 5px;
}

p {
    text-align: center;
    font-weight: bold;
}

input[type="radio"] {
    display: inline;
    
}

input[type="checkbox"] {
    display: inline;
    
}

input[type="textarea"] {
    height: 60px;
    width: 30%;
    
}
 
input[type="submit"] {
    width:30%;
    height:30px;
    text-align: center;
}
